@model Business.Dtos.ProjectDto

@{
    var now = DateTime.Now;
    var end = Model.EndDate;
    string deadlineText;
    bool isOverdue = end < now;
    var isAdmin = User.IsAppAdmin();
    bool isProjectLead = User.IsInRole("ProjectLead");

    if (isOverdue)
    {
        deadlineText = "OVERDUE";
    }
    else
    {
        var daysLeft = (end - now).Days;
        deadlineText = $"{daysLeft} day{(daysLeft != 1 ? "s" : "")} left";
    }
}

<div class="project-card">
    <img class="project-img" src="@(!string.IsNullOrEmpty(Model.ProjectImagePath) ? Model.ProjectImagePath : "/img/Image.svg")" alt="Project Image" />

    <div class="text-info">
        <h2>@Model.ProjectName</h2>
        <h3>@Model.ClientName</h3>
    </div>

    @if (isAdmin || isProjectLead)
    {
        <div class="more-container">
            <button class="more-btn" data-project-id="@Model.Id">
                <img src="~/img/More 2.svg" alt="More">
            </button>

            <div class="more-menu d-none">

                    <button class="dropdown-item text-start w-100 edit-btn" data-bs-toggle="modal" data-bs-target="#editprojectModal" data-project-id="@Model.Id">
                        <i class="fa-solid fa-pen-to-square"></i> Edit Project
                    </button>
                    <button class="dropdown-item text-start w-100 addmember-btn" data-project-id="@Model.Id">
                        <i class="fa-solid fa-user"></i> Add Member
                    </button>
                    <button class="dropdown-item text-start w-100 delete-btn" data-project-id="@Model.Id">
                        <i class="fa-solid fa-trash-can"></i> Delete Project
                    </button>
                
            </div>
        </div>
    }
    <div class="p-description">@Html.Raw(Model.Description)</div>

    <div class="temp-deadline-container d-flex align-items-center gap-2 mt-2">
        <img src="~/img/Clock.svg" alt="Clock">
        <span class="temp-deadline-text @(isOverdue ? "text-danger fw-bold" : "")">
            @deadlineText
        </span>
    </div>

    <div class="current-users mt-2">
        @if (Model.Members != null && Model.Members.Any())
        {
            foreach (var member in Model.Members)
            {
                <img src="@(!string.IsNullOrEmpty(member.ProfileImagePath) ? member.ProfileImagePath : "/img/Employee.svg")" alt="User" />
            }
        }
    </div>
</div>
