@model ASPAssignment.ViewModels.RegisterForm

<div class="reg-form-container">
    <h1>Create Account</h1>


    <h2>Sign Up with Third Party?</h2>
    <button type="button" class="gotomedia-btn">
        <a asp-controller="External" asp-action="ExternalRegister">Register with Third Party Sites!</a>
    </button>

    <img class="splitter" src="~/img/splitter.svg" alt="Splitter" />

    <form class="reg-form" asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data" novalidate>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div id="error-center" class="text-danger mb-2">@ViewBag.ErrorMessage</div>
        }

        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-input-login @(ViewData.ModelState["FirstName"]?.Errors.Any() == true ? "input-error" : "")" />
        <span asp-validation-for="FirstName" class="text-danger"></span>

        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-input-login @(ViewData.ModelState["LastName"]?.Errors.Any() == true ? "input-error" : "")" />
        <span asp-validation-for="LastName" class="text-danger"></span>

        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-input-login @(ViewData.ModelState["Email"]?.Errors.Any() == true ? "input-error" : "")" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-input-login @(ViewData.ModelState["Password"]?.Errors.Any() == true ? "input-error" : "")" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-input-login @(ViewData.ModelState["ConfirmPassword"]?.Errors.Any() == true ? "input-error" : "")" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <div class="form-check mb-3">
            <input asp-for="Terms" class="form-check-input @(ViewData.ModelState["Terms"]?.Errors.Any() == true ? "input-error" : "")" type="checkbox" id="termsCheck" />
            <label asp-for="Terms" class="form-check-label">
                I accept <a href="#">Terms and Conditions</a>
            </label>
            <span asp-validation-for="Terms" class="text-danger"></span>
        </div>

        <button type="submit" class="login-btn">Create Account</button>
    </form>

    <p>
        Already have an account?
        <a asp-controller="Account" asp-action="Login">Login</a>
    </p>
</div>
<script src="~/js/InputError.js"></script>




