@model ProjectEntity

<div class="project-card">
    <img class="project-img" src="@(!string.IsNullOrEmpty(Model.ProjectImagePath) ? Model.ProjectImagePath : "/img/Image.svg")" alt="Project Image" />

    <div class="text-info">
        <h2>@Model.ProjectName</h2>
        <h3>@Model.ClientName</h3>
    </div>

    <div class="more-container">
        <button class="more-btn" data-bs-toggle="modal" data-bs-target="#editprojectModal">
            <img src="~/img/More 2.svg" alt="More">
        </button>
    </div>

    <p class="p-description">@Model.Description</p>

    <img class="temp-deadline" src="~/img/Deadline.svg" alt="Deadline">

    <div class="current-users">
        @if (Model.Members != null && Model.Members.Any())
        {
            foreach (var member in Model.Members)
            {
                <img src="@(!string.IsNullOrEmpty(member.ProfileImagePath) ? member.ProfileImagePath : "/img/Employee.svg")" alt="User" />
            }
        }
    </div>
</div>
