@model IEnumerable<Business.Dtos.MemberDto>
<div id="MemberView">
    <div class="header">
        <h1>Team Members</h1>
        <button class="project-btn" data-bs-toggle="modal" data-bs-target="#addTeamMemberModal">
            + Add Team Member
        </button>
    </div>

    <div class="project-view fade-in visible">
        @foreach (var member in Model)
        {
            <div class="team-card">
                <button data-member-id="@member.Id"
                        data-bs-toggle="modal"
                        data-bs-target="#editTeamMemberModal"
                        class="more-btn">
                    <img src="~/img/More 2.svg" alt="More Options" />
                </button>

                <img class="profile-img"
                     src="@(string.IsNullOrWhiteSpace(member.ProfileImagePath) ? "/img/Employee.svg" : member.ProfileImagePath)"
                     alt="Profile Image" />

                <h1>@member.FirstName @member.LastName</h1>
                <h3 class="jobtitle">@member.JobTitle</h3>
                <h2 class="contact-format">@member.Email</h2>
                <h2 class="contact-format">@member.Phone</h2>

                <button class="message-btn">Message</button>
            </div>
        }
    </div>
</div>
    


